
              <!-- this is for multiple schedules-->
              <form th:if="${feature_multipleSchedules}" action="#" th:action="@{/schedule/add/1}" method="post">
                <input type="hidden" name="classname" th:value="${r.course.courseId} " value="" />
                <input type="hidden" name="enrollCode" th:value="${r.section.enrollCode} " value="" />
                <input type="hidden" name="uid" th:value="${id}" value="1000" />
                <input type="hidden" name="professor" th:value="${r.course.mainInstructorList()}" value="" />
                <input type="hidden" name="meettime" th:value="${r.section.meetTime()}"  value="" />
                <input type="hidden" name="meetday" th:value="${r.section.meetDay()}" value="" />
                <input type="hidden" name="location" th:value="${r.section.location()}" value="" />
                <input type="hidden" name="quarter" th:value="${r.course.getQuarterQyy()}" value="" />

                <!--Lecture Section value-->
                <input type="hidden" name="lecture_classname" th:value="${r.course.courseId} " value="" />
                <input type="hidden" name="lecture_enrollCode" th:value="${r.primary.enrollCode} " value="" />
                <input type="hidden" name="lecture_uid" th:value="${id}" value="1000" />
                <input type="hidden" name="lecture_professor" th:value="${r.course.mainInstructorList()}" value="" />
                <input type="hidden" name="lecture_meettime" th:value="${r.primary.meetTime()}"  value="" />
                <input type="hidden" name="lecture_meetday" th:value="${r.primary.meetDay()}" value="" />
                <input type="hidden" name="lecture_location" th:value="${r.primary.location()}" value="" />
                <input type="hidden" name="lecture_quarter" th:value="${r.course.getQuarterQyy()}" value="" />

                <input type="submit" class="btn btn-primary" value="Add" /> 
              </form>
