
        <td th:if="${quarters != null}" th:text="${r.rowType}=='PRIMARY' ? ${r.course.getQuarterQyy()} : '' "></td>
        <td th:text="${r.rowType}=='PRIMARY' ? ${r.course.courseId} : '' "></td>
        <td th:text="${r.rowType}=='PRIMARY' ? ${r.course.title} : '' "></td>
        <td class="section" th:text="${r.section.section}"></td>
        <td class="instructorList" th:text="${r.section.instructorList()}"></td>
        <td class="enrollCode" th:text="${r.section.enrollCode}"></td>
        <td th:text="${r.timeLocation?.days}"></td>
        <td th:text="${r.timeLocation == null} ? '' : ${r.timeLocation?.beginTime}+' - '+${r.timeLocation?.endTime}">
        </td>
        <td><a th:href="${r.timeLocation == null} ? '' : ${r.timeLocation.getLocationURL()}" th:text="${r.timeLocation == null} ? '' : ${r.timeLocation.displayBuildingAndRoom()}"></a></td>
        <!-- TODO Make building a link to the map for the building -->
        <td th:text="${r.section.enrolledTotal}"></td>
        <td th:text="${r.section.maxEnroll}"></td>
