{
    "spring.security.oauth2.client.registration.google.client-id":"copy-from-google",
    "spring.security.oauth2.client.registration.google.client-secret":"copy-from-google",
    "ucsb.api.consumer_key":"fill-it-in" 
}
