<style>
.group> .row{
    overflow-x:auto;
    white-space:nowrap;
}

.group>.row> .card{
    display: inline-block;
    float:none;
   white-space: nowrap;
}
.card{
    margin-right:  13px;
    width:600px;
}

.card-body{
    overflow-x:scroll;
    white-space: normal;
}

</style>
<div class="container group">
    <div class="row flex-nowrap">

        <div class="flex-column">
            <div class="card" style="overflow-y:scroll;height:1000px;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;background-color:gainsboro; position:-webkit-sticky; position: sticky;">Fall</h5>
                    <div class = "container li" th:replace="search/byge/multiquarter/fragments/list_fall.html"></div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" style="overflow-y:scroll;height:1000px;">
                <div class="card-body" >
                <h5 class="card-title" style="text-align: center;background-color: gainsboro;">Winter</h5>
                <div class = "container li" th:replace="search/byge/multiquarter/fragments/list_winter.html"></div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" style="overflow-y:scroll;height:1000px;">
                <div class="card-body">
                <h5 class="card-title" style="text-align: center;background-color:gainsboro;">Spring</h5>
                <div class = "container li" th:replace="search/byge/multiquarter/fragments/list_spring.html"></div>
                </div>
            </div>
        </div>
        <div class="flex-column">
            <div class="card" style="overflow-y:scroll;height:1000px;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;background-color:gainsboro; position:-webkit-sticky; position: sticky;">Summer</h5>
                    <div class = "container li" th:replace="search/byge/multiquarter/fragments/list_summer.html"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
