<!--
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body>
		<h2>test</h2>
	</body>
</html>		
-->
<form method="GET"  th:object="${searchObject}">
    <div class="form-group row">
        <label for="instructor" class="col-sm-2 col-form-label">Instructor</label>
        <div class="col-sm-10">
             <input type="text" th:field="*{instructor}" class="form-control" id="instructor" placeholder="Search..">
	</div>
    </div>
    <div class="form-group row">
        <label for="beginQuarter" class="col-sm-2 col-form-label">Begin Quarter</label>
        <div class="col-sm-10">
            <select th:field="*{beginQuarter}" class="custom-select">
                <option selected="selected" value=9>WINTER 2020</option>
                <option value=8>FALL 2019 </option>
                <option value=7>SUMMER 2019 </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="endQuarter" class="col-sm-2 col-form-label">End Quarter</label>
        <div class="col-sm-10">
            <select th:field="*{endQuarter}" class="custom-select">
                <option selected="selected" value=9>WINTER 2020</option>
                <option value=8>FALL 2019 </option>
                <option value=7>SUMMER 2019 </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="js-multi-search-submit" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button type="submit" th:formaction="@{/multiResults}" class="btn btn-primary" id="js-multi-search-submit">Find Instructor</button>
	    <!--            <button type="submit" th:formaction="@{/searchCSV}" class="btn btn-primary" id="js-multi-search-csv">Download CSV</button> -->
        </div>
    </div>
    
</form>
