<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Class Schedule</title>
    <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
<div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h3>My Class Schedule</h3>
     <form th:object="${Route}" method="post" id="routeForm"> 
        <table class="table">
            <thead>
            <tr>
                <th>Quarter</th>
                <th>Course Name</th>
                <th>Enroll Code</th>
                <th>UID</th>
                <th>Professor</th>
                <th>Meeting Times</th>
                <th>Meeting Days</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c: ${myclasses}">
                <td th:text="${c.quarter}"></td>
                <td th:text="${c.classname}"></td>
                <td th:text="${c.enrollCode}"></td>
                <td th:text="${c.uid}"></td>
                <td th:text="${c.professor}"></td>
                <td th:text="${c.meettime}"></td>
                <td th:text="${c.meetday}"></td>
                <td th:text="${c.location}"></td>
            </tr>
            </tbody>
        </table>
        <style>
            .traveltime-container {
                margin: 30px auto;
                max-width: 400px;
                width: 100%;
                text-align: center;
                background: #f8f9fa;
                padding: 10px;
            }
        </style>
        
        <div class="traveltime-container">
            <h5>Travel Time</h5>
            <p>Find how long it would take to go from</p>
            <select class="custom-select" form="routeForm">
                <option th:each="c : ${myclasses}" th:value="${c.location}" th:text="${c.location}"></option>
            </select>
            <p>to</p>
            <select class="custom-select" form="routeForm">
                <option th:each="c: ${myclasses}" th:value="${c.location}" th:text="${c.location}"></option>
            </select>
            <p>&nbsp;</p>
            <button type="submit" th:formaction="@{/courseschedule/walktime}" class="btn btn-primary">🚶Walking</button>
            <button type="submit" th:formaction="@{/biketime}" class="btn btn-primary">🚴Biking</button>
        </div>
    </form> 
    <div th:replace="fragments/bootstrap_footer.html"></div>
</div>
<div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>