<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>My Class Schedule</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h3>My Class Schedule</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Quarter</th>
          <th>Course Name</th>
          <th>Enroll Code</th>
          <th>UID</th>
          <th>Professor</th>
          <th>Meeting Times</th>
          <th>Meeting Days</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="c: ${myclasses}">
          <td th:text="${c.quarter}"></td>
          <td th:text="${c.classname}"></td>
          <td th:text="${c.enrollCode}"></td>
          <td th:text="${c.uid}"></td>
          <td th:text="${c.professor}"></td>
          <td th:text="${c.meettime}"></td>
          <td th:text="${c.meetday}"></td>
          <td th:text="${c.location}"></td>
        </tr>
      </tbody>
    </table>
    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>

  <div class = "content weekly view">
    <div align = "Center">
      <table cellspacking= "0" cellpading='1' align = "Center" rules = "all" style "border-color:#ff6ec7;border-width:1px;border-style:None,width:100%,border-collapse:collapse;">
        <tbody>
          <tr>
            <th class = "heading">&nbsp</th>
            <th class = "heading">
              <span>
                Monday
              </span>
            </th>
            <th class = "heading">
              <span>
                Tuesday
              </span>
            </th>
            <th class = "heading">
              <span>
                Wednesday
              </span>
            </th>
            <th class = "heading">
              <span>
                Thursday
              </span>
            </th>
            <th class = "heading">
              <span>
                Friday
              </span>
            </th>
          </tr>


          <tr>//need 29 rows for 8am - 10pm
            <th class = "timerange">
              <span>
                8:00 AM
              </span>
            </th>
            //5 tds per tr
            <td>&nbsp  </td>
            <td>&nbsp  </td>
            <td>&nbsp  </td>
            <td>&nbsp  </td>
            <td>&nbsp  </td>

          </tr>
          <tr>
              <th class = "timerange">
                <span>
                  8:30 AM
                </span>
              </th>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
            </tr>
          </tr>
          <tr>
              <th class = "timerange">
                <span>
                  9:00 AM
                </span>
              </th>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
              <td>&nbsp  </td>
            </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>
