<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>My Class Schedule</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body onload="myFunction()">
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h3>My Class Schedule</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Quarter</th>
          <th>Course Name</th>
          <th>Enroll Code</th>
          <th>UID</th>
          <th>Professor</th>
          <th>Meeting Times</th>
          <th>Meeting Days</th>
          <th>Location</th>

        </tr>
      </thead>
      <tbody>
        <tr th:each="c: ${myclasses}">
          <td th:text="${c.quarter}"></td>
          <td th:text="${c.classname}"></td>
          <td th:text="${c.enrollCode}"></td>
          <td th:text="${c.uid}"></td>
          <td th:text="${c.professor}"></td>
          <td th:text="${c.meettime}"></td>
          <td th:text="${c.meetday}"></td>
          <td th:text="${c.location}"></td>

        </tr>
      </tbody>
    </table>
    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div id = "weekly_view">
    <div align = "Center">
      <table id ="week_table"  cellspacking= "0" cellpading='1' align = "Center" rules = "all" style "border-color:#ff6ec7;border-width:1px;border-style:None,width:100%,border-collapse:collapse;">
        <thead>
          <tr >
            <th class = "heading">&nbsp</th>
            <th th:each = "d: ${days}" th:text="${d}">
            </th>
          </tr>
        </thead>
          <tbody>
            <!--need 29 rows for 8am - 10pm -->
            <th class = "timerange" scope = "row"></th>
              <tr th:each = "tr: ${timerange}" id = "timerange" >
                <td th:text="${tr}"></td>
                <td th:text = "${week.iterateOverArray(myclasses)}"   > </td>
                <td th:text = "${week.iterateOverArray(myclasses)}"  > </td>
                <td th:text = "${week.iterateOverArray(myclasses)}"   > </td>
                <td th:text = "${week.iterateOverArray(myclasses)}"  > </td>
                <td th:text = "${week.iterateOverArray(myclasses)}" > </td>


              </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div th:replace="fragments/bootstrap_scripts.html"></div>




</body>


</html>
