<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>My Class Schedule</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h3>My Class Schedules</h3>

    <form action="#" th:action="@{/courseschedule/viewSchedule}" th:object="${scheduleSearch}" method="get">
      <table>
        <tr class="form-group">
          <th><label for="scheduleid" class="col-form-label">Scheduleid</label></th>
          <td><input type="number" th:field="*{scheduleid}" class="form-control" id="scheduleid"></td>
        </tr>
        <tr class="form-group">
          <th><label for="schedulename" class="col-form-label">Schedulename</label></th>
          <td><input type="text" th:field="*{schedulename}" class="form-control" id="schedulename"></td>
        </tr>
      </table>

      <input type="submit" class="btn btn-primary" value="Search">
    </form>

    <form action="#" th:action="@{/courseschedule/viewSchedule}" th:object="${scheduleSearch}" method="get"></form>
      <select class="custom-select">
        <option th:each="s:${myschedules}" th:value="${s.scheduleid}" th:text="${s.schedulename}"></option>
      </select>
      <input type="submit" class="btn btn-primary" value="View">
    </form>

    </br>

    <div class="row">
      <h3 class="col-3" th:text="${scheduleSearch.schedulename}"></h3>
      <input type="submit" class="btn btn-primary" value="Rename">
    </div>

    <!-- th:field="*{scheduleselect}" -->
    </br>
    <table class="table">
      <thead>
        <tr>
          <th>Quarter</th>
          <th>Course Name</th>
          <th>Enroll Code</th>
          <th>SCHEDULEid</th>
          <th>Professor</th>
          <th>Meeting Times</th>
          <th>Meeting Days</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="c: ${myclasses}">
          <td th:text="${c.quarter}"></td>
          <td th:text="${c.classname}"></td>
          <td th:text="${c.enrollCode}"></td>
          <td th:text="${c.scheduleid}"></td>
          <td th:text="${c.professor}"></td>
          <td th:text="${c.meettime}"></td>
          <td th:text="${c.meetday}"></td>
          <td th:text="${c.location}"></td>
        </tr>
      </tbody>
    </table>
    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>