<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>My Class Schedule</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h3>My Class Schedules</h3>
    <div class="row">
      <div class="col-10">
        <select class="custom-select">
          <option th:each="s:${myschedules}" th:value="${s.scheduleid}" th:text="${s.schedulename}"></option>
        </select>
      </div>
      <form action="#" th:action="@{1}" method="get">
        <input type="submit" class="btn btn-primary" value="View">
      </form>
      <div class="col-1">
        <input type="submit" class="btn btn-primary" value="Create">
      </div>
    </div>
    </br>
    <div class="row">
      <h3 class="col-3">Schedule Name</h3>
      <input type="submit" class="btn btn-primary" value="Rename">
    </div>
    <!-- th:field="*{scheduleselect}" -->
    </br>
    <table class="table">
      <thead>
        <tr>
          <th>Quarter</th>
          <th>Course Name</th>
          <th>Enroll Code</th>
          <th>SCHEDULEid</th>
          <th>Professor</th>
          <th>Meeting Times</th>
          <th>Meeting Days</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="c: ${myclasses}">
          <td th:text="${c.quarter}"></td>
          <td th:text="${c.classname}"></td>
          <td th:text="${c.enrollCode}"></td>
          <td th:text="${c.scheduleid}"></td>
          <td th:text="${c.professor}"></td>
          <td th:text="${c.meettime}"></td>
          <td th:text="${c.meetday}"></td>
          <td th:text="${c.location}"></td>
        </tr>
      </tbody>
    </table>
    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>