<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>My Class Schedule</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <div th:replace="schedule/fragments/title.html"></div>
    <div th:replace="schedule/fragments/form.html"></div>
    <div th:replace="schedule/fragments/create_schedule.html"></div>
    <div th:if="${scheduleid}">
      <div th:replace="schedule/fragments/schedulename.html"></div>
      <div th:replace="schedule/fragments/list.html"></div>
    </div>
    <div th:unless="${scheduleid}">
      <div th:replace="schedule/fragments/click_to_view_text.html"></div>
    </div>
    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>