<style>
    /* Button used to open the chat form - fixed at the bottom of the page */
    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 5px;
      background-color: white;
    }
    /* Full-width textarea */
    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 5px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 20px;
    }
  /* When the textarea gets focus, do something */
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/send button */
    .form-container .btn {
      color: white;
      padding: 5px 5px;
      width: 100%;
      margin-bottom:10px;
    }
    </style>



    <button class="btn btn-primary" onclick="openpopupp()">Create Schedule</button>
    <div class="chat-popup" id="myForm">
      <form th:action="@{/schedule/create}" class="form-container" method = "post">
        <label for="sname"><b>New schedule name</b></label>
        <textarea placeholder="Enter name.." name="sname" required></textarea>

      <!--
        <label for="quarter">Quarter</label>
        <select th:field="${searchByDept.quarter}" class="custom-select">
          <option th:each="q: ${quarters}" th:value="${q.value}" th:text="${q}"></option>
        </select>
      -->

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" onclick="closepopup()">Close</button>
      </form>
    </div>
    <script>
      function openpopupp() {
        document.getElementById("myForm").style.display = "block";
      }
      
      function closepopup() {
        document.getElementById("myForm").style.display = "none";
      }
      </script>