<form method="GET"  th:object="${scheduleSearch}">
        <div class="form-group row">
            <h2 for="scheduleName" class="col-sm-2 col-form-label">Select Schedule</h2>
            
            <div class="col-sm-8">
                <select th:field="*{scheduleid}" class="custom-select">
                    <option th:each="s:${myschedules}" th:value="${s.scheduleid}" th:text="${s.schedulename}"></option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="submit" th:formaction="@{/schedule/viewSchedule}" class="btn btn-primary" id="viewScheduleSubmit">View Schedule</button>
            </div>
        </div>        
</form>