<form method="GET"  th:object="${searchByDept}">
    <div class="form-group row">
        <label for="quarter" class="col-sm-2 col-form-label">Quarter</label>
        <div class="col-sm-10">
            <select th:field="*{quarter}" class="custom-select">
                <option th:each="q: ${quarters}" th:value="${q.value}" th:text="${q}"></option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="js-course-search-submit" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button type="submit" th:formaction="@{/csdept/search/classroom/results}" class="btn btn-primary" id="js-course-search-submit">Find Courses</button>
        </div>
    </div>

    
</form>