<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Getting Started: Serving Web Content</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<style>
.test{
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}
</style>
<body>
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>

		<h1>Grid view of courses goes here</h1>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<div class="dropdown show">
	<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Quarter
	</a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<a class="dropdown-item" href="#">Winter 2020</a>
	<a class="dropdown-item" href="#">Spring 2020</a>
	<a class="dropdown-item" href="#">Summer 2020</a>
	</div>
</div>

</body>
</html>
