<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Getting Started: Serving Web Content</title>
	<div th:replace="fragments/bootstrap_head.html"></div>
</head>

<style>
.test{
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}
</style>
<body>
	<div class="container">
		<div th:replace="fragments/bootstrap_nav_header.html"></div>

		<h1>Grid view of courses goes here</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Quarter
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Winter 2020</a>
    <a class="dropdown-item" href="#">Spring 2020</a>
    <a class="dropdown-item" href="#">Summer 2020</a>
  </div>
</div>


</body>
</html>
