<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
  <title>Search Results</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    <h1>Search Results</h1>

    <!--

      N O T I C E   !!!!!

      This view is D E P R E C A T E D

      Please DO NOT add any new features to this view.

      Instead, migrate features from this view into the views
      at resources/templates/search/bydept/search.html 
      at resources/templates/search/bydept/results.html 
      at resources/templates/search/bydept/fragments/... 

    -->

    <table class="table">
      <thead>
        <tr>
          <th>Subject Area</th>
          <th>Quarter</th>
          <th>Course Level</th>
          <th>Page Number</th>
          <th>Page Size</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${subjectArea}"></td>
          <td th:text="${quarter}"></td>
          <td th:text="${courseLevel}"></td>
          <td th:text="${cp.pageNumber}"></td>
          <td th:text="${cp.pageSize}"></td>
          <td th:text="${cp.total}"></td>
        </tr>
      </tbody>
    </table>

    <div th:replace="fragments/generic_result_table.html"></div>

    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>