<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Courses Search: Search Results</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>

    <h1>Course Search Results will appear here when available</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Subject Area</th>
          <th>Quarter</th>
          <th>Course Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${subjectArea}"></td>
          <td th:text="${quarter}"></td>
          <td th:text="${courseLevel}"></td>
        </tr>
      </tbody>
    </table>

    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>

  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

</html>