<form method="GET"  th:object="${searchByDept}">
        <div class="form-group row">
            <label for="dept" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-10">
                <select th:field="*{dept}" class="custom-select">
                    <option value="CMPSC">Computer Science - CMPSC</option>
                    <option value="ANTH">Anthropology - ANTH</option>
                    <option value="ART">Art - ART</option>
                    <option value="ART  CS ">Art (Creative Studies) - ART CS </option>
                    <option value="ARTHI">Art History - ARTHI</option>
                    <option value="ARTST">Art Studio - ARTST</option>
                    <option value="AS AM">Asian American Studies - AS AM</option>
                    <option value="ASTRO">Astronomy - ASTRO</option>
                    <option value="BIOL">Biology - BIOL</option>
                    <option value="BIOL CS ">Biology (Creative Studies) - BIOL CS </option>
                    <option value="BMSE">Biomolecular Science and Engineering - BMSE</option>
                    <option value="BL ST">Black Studies - BL ST</option>
                    <option value="CH E">Chemical Engineering - CH E</option>
                    <option value="CHEM CS ">Chemistry (Creative Studies) - CHEM CS </option>
                    <option value="CHEM">Chemistry and Biochemistry - CHEM</option>
                    <option value="CH ST">Chicano Studies - CH ST</option>
                    <option value="CHIN">Chinese - CHIN</option>
                    <option value="CLASS">Classics - CLASS</option>
                    <option value="COMM">Communication - COMM</option>
                    <option value="C LIT">Comparative Literature - C LIT</option>
                    <option value="CMPSCCS ">Computer Science (Creative Studies) - CMPSCCS </option>
                    <option value="CMPTG">Computing (Creative Studies) - CMPTG</option>
                    <option value="CMPTGCS ">Computing (Creative Studies) - CMPTGCS </option>
                    <option value="CNCSP">Counseling, Clinical, School Psychology - CNCSP</option>
                    <option value="DANCE">Dance - DANCE</option>
                    <option value="DYNS">Dynamical Neuroscience - DYNS</option>
                    <option value="EARTH">Earth Science - EARTH</option>
                    <option value="EACS">East Asian Cultural Studies - EACS</option>
                    <option value="EEMB">Ecology, Evolution &amp; Marine Biology - EEMB</option>
                    <option value="ECON">Economics - ECON</option>
                    <option value="ED">Education - ED</option>
                    <option value="ECE">Electrical Computer Engineering - ECE</option>
                    <option value="ENGR">Engineering Sciences - ENGR</option>
                    <option value="ENGL">English - ENGL</option>
                    <option value="ESM">Environmental Science &amp; Management - ESM</option>
                    <option value="ENV S">Environmental Studies - ENV S</option>
                    <option value="ESS">Exercise &amp; Sport Studies - ESS</option>
                    <option value="ES">Exercise Sport - ES</option>
                    <option value="FEMST">Feminist Studies - FEMST</option>
                    <option value="FAMST">Film and Media Studies - FAMST</option>
                    <option value="FR">French - FR</option>
                    <option value="GEN S   ">General Studies (Creative Studies) - GEN S </option>
                    <option value="GEN SCS ">General Studies (Creative Studies) - GEN SCS </option>
                    <option value="GEOG">Geography - GEOG</option>
                    <option value="GER">German - GER</option>
                    <option value="GPS">Global Peace and Security - GPS</option>
                    <option value="GLOBL">Global Studies - GLOBL</option>
                    <option value="GRAD">Graduate Division - GRAD</option>
                    <option value="GREEK">Greek - GREEK</option>
                    <option value="HEB">Hebrew - HEB</option>
                    <option value="HIST">History - HIST</option>
                    <option value="INT">Interdisciplinary - INT</option>
                    <option value="INT  CS ">Interdisciplinary (Creative Studies) - INT CS </option>
                    <option value="ITAL">Italian - ITAL</option>
                    <option value="JAPAN">Japanese - JAPAN</option>
                    <option value="KOR">Korean - KOR</option>
                    <option value="LATIN">Latin - LATIN</option>
                    <option value="LAIS">Latin American and Iberian Studies - LAIS</option>
                    <option value="LING">Linguistics - LING</option>
                    <option value="LIT     ">Literature (Creative Studies) - LIT </option>
                    <option value="LIT  CS ">Literature (Creative Studies) - LIT CS </option>
                    <option value="MARSC">Marine Science - MARSC</option>
                    <option value="MATRL">Materials - MATRL</option>
                    <option value="MATH">Mathematics - MATH</option>
                    <option value="MATH CS ">Mathematics (Creative Studies) - MATH CS </option>
                    <option value="ME">Mechanical Engineering - ME</option>
                    <option value="MAT">Media Arts and Technology - MAT</option>
                    <option value="ME ST">Medieval Studies - ME ST</option>
                    <option value="MES">Middle East Studies - MES</option>
                    <option value="MS">Military Science - MS</option>
                    <option value="MCDB">Molecular, Cellular &amp; Develop. Biology - MCDB</option>
                    <option value="MUS">Music - MUS</option>
                    <option value="MUS  CS ">Music (Creative Studies) - MUS CS </option>
                    <option value="MUS A">Music Performance Laboratories - MUS A</option>
                    <option value="PHIL">Philosophy - PHIL</option>
                    <option value="PHYS">Physics - PHYS</option>
                    <option value="PHYS CS ">Physics (Creative Studies) - PHYS CS </option>
                    <option value="POL S">Political Science - POL S</option>
                    <option value="PORT">Portuguese - PORT</option>
                    <option value="PSY">Psychology - PSY</option>
                    <option value="RG ST">Religious Studies - RG ST</option>
                    <option value="RENST">Renaissance Studies - RENST</option>
                    <option value="RUSS">Russian - RUSS</option>
                    <option value="SLAV">Slavic - SLAV</option>
                    <option value="SOC">Sociology - SOC</option>
                    <option value="SPAN">Spanish - SPAN</option>
                    <option value="SHS">Speech &amp; Hearing Sciences - SHS</option>
                    <option value="PSTAT">Statistics &amp; Applied Probability - PSTAT</option>
                    <option value="TMP">Technology Management - TMP</option>
                    <option value="THTR">Theater - THTR</option>
                    <option value="WRIT">Writing - WRIT</option>
                    <option value="W&amp;L">Writing &amp; Literature (Creative Studies) - W&amp;L</option>
                    <option value="W&amp;L  CS ">Writing &amp; Literature (Creative Studies) - W&amp;L CS </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="quarter" class="col-sm-2 col-form-label">Quarter</label>
            <div class="col-sm-10">
                <select th:field="*{quarter}" class="custom-select">
                    <option th:each="q: ${quarters}" th:value="${q.value}" th:text="${q}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="courseLevel" class="col-sm-2 col-form-label">Course Level</label>
            <div class="col-sm-10">
                <select th:field="*{courseLevel}"class="custom-select">
                    <option value="L">Undergrad-Lower Division</option>
                    <option value="S">Undergrad-Upper Division</option>
                    <option selected="selected" value="U">Undergrad-All</option>
                    <option value="G">Graduate</option>
                    <option value="A">All</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="js-course-search-submit" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" th:formaction="@{/search/bydept/results}" class="btn btn-primary" id="js-course-search-submit">Find Courses</button>
            </div>
        </div>
    
        
    </form>