<table class="table">
        <thead>
          <tr>
            <th>Page Number</th>
            <th>Page Size</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${cp.pageNumber}"></td>
            <td th:text="${cp.pageSize}"></td>
            <td th:text="${cp.total}"></td>
          </tr>
        </tbody>
      </table>
  
      <h2>Courses</h2>
  
      <div th:each="c: ${cp.classes}">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Quarter</th>
              <th>Course Id</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td th:text="${c.quarter}" />
              <td th:text="${c.courseId}" />
              <td th:text="${c.title}" />
            </tr>
          </tbody>
        </table>
  
        <table class="table table-bordered" style="margin-left: 3em; font-size: 80%">
          <thead>
            <tr>
              <th>Enroll Code</th>
              <th>Enrolled</th>
              <th>Max</th>
              <th>Instructor(s)</th>
              <th>Time and Location</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="s: ${c.classSections}">
              <td th:text="${s.enrollCode}" />
              <td th:text="${s.enrolledTotal}" />
              <td th:text="${s.maxEnroll}" />
              <td>
                <div th:each="i: ${s.instructors}">
                  <span th:text="${i.instructor}"></span>
                </div>
              </td>
              <td>
                <div th:each="tl: ${s.timeLocations}">
                  <table>
                    <tr>
                      <td>
                        <span th:text=${tl.days}></span>
                        <span th:text=${tl.beginTime}></span>&ndash;<span th:text=${tl.endTime}></span>
                      </td>
                      <td>
                        <span th:text=${tl.building}></span>
                        <span th:text=${tl.room}></span>
                      </td>
                      <!-- th:if to only have the add and drop by sections, not lectures -->
                      <td th:if="${s.isSection() && isLoggedIn}">
                         <form action="#" th:action="@{/courseschedule/add}" th:object="${c}" method="post">
                          <!-- name attributes below are for the th:object which is an instance of 
                               the @Entity that is a parameter of the controller endpoint for 
                               the th:action above.  th:value values are computed based on the
                               objects being iterated over passed into this view -->
                          <input type="hidden" name="classname" th:value="${c.courseId} "value="" />
                          <input type="hidden" name="enrollCode" th:value="${s.enrollCode} "value="" />
                          <input type="hidden" name="uid" th:value="${id}" value="1000" />  
                          <input type="hidden" name="professor" th:value="${c.mainInstructorList()}" value="" />
                          <input type="hidden" name="meettime"  th:value="${s.timeLocations[0].beginTime + '-' + s.timeLocations[0].endTime}" value="" />
                          <input type="hidden" name="meetday" th:value="${s.timeLocations[0].days}" value="" />
                          <input type="hidden" name="location" th:value="${s.timeLocations[0].building + '-' + s.timeLocations[0].room}" value="" /> 
                          <input type="hidden" name="quarter" th:value="${c.getQuarterQyy()}" value="" /> 
                          <input type="submit" class="btn btn-primary" value="Add" />  
                        </form> 
                        
                    </tr>
                  </table>
  
                </div>
  
              </td>
  
            </tr>
          </tbody>
        </table>