<h2>Courses</h2>


<table class="table">
  <thead>
    <tr>
      <th>Quarter</th>
      <th>CourseId</th>
      <th>Title</th>
      <th>GE Area</th>
      <th>Instructor</th>
      <th>Enrolled</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="r: ${rows}">
     <td th:text="${r.course.getQuarterQyy()}"></td>
     <td th:text="${r.course.courseId}"></td>
      <td th:text="${r.course.title}"></td>
      <td th:text="${r.course.getGEList()}"></td>
      <td class="instructorList" th:text="${r.section.instructorList()}"></td>
      <td th:text="${r.section.enrolledTotal}"></td>
      <td th:text="${r.section.maxEnroll}"></td>
    </tr>
  </tbody>
</table>
