<!DOCTYPE html>
<html>
<body>

<h2>GE Course Requirement Number for Each Area</h2>

<table style="width:70%">
  <tr>
    <th>Area</th>
    <th>COE</th>
    <th>CCS</th> 
    <th>L&S</th>
  </tr>
  <tr>
    <th>A1:</th>
    <th>2</th>
    <th>2</th> 
    <th>2</th>
  </tr>
  <tr>
    <th>A2:</th>
    <th>0</th>
    <th>0</th> 
    <th>0</th>
  </tr>
  <tr>
    <th>B:</th>
    <th>0</th>
    <th>0</th> 
    <th>1</th>
  </tr>
  <tr>
    <th>C:</th>
    <th>0</th>
    <th>0</th> 
    <th>1</th>
  </tr>
  <tr>
    <th>D:</th>
    <th>2</th>
    <th>2</th> 
    <th>2</th>
  </tr>
  <tr>
    <th>E:</th>
    <th>2</th>
    <th>2</th> 
    <th>2</th>
  </tr>
  <tr>
    <th>F:</th>
    <th>1</th>
    <th>1</th> 
    <th>1</th>
  </tr>
  <tr>
    <th>G:</th>
    <th>1</th>
    <th>1</th> 
    <th>1</th>
  </tr>
  <tr>
    <th>H:</th>
    <th>0</th>
    <th>0</th> 
    <th>0</th>
  </tr>
  <tr>
    <th>ETH:</th>
    <th>1</th>
    <th>1</th> 
    <th>0</th>
  </tr>
  <tr>
    <th>EUR:</th>
    <th>1</th>
    <th>1</th> 
    <th>0</th>
  </tr>
  <tr>
    <th>NWC:</th>
    <th>1</th>
    <th>1</th> 
    <th>0</th>
  </tr>
  <tr>
    <th>QNT:</th>
    <th>0</th>
    <th>0</th> 
    <th>1</th>
  </tr>
  <tr>
    <th>WRT:</th>
    <th>4</th>
    <th>4</th> 
    <th>6</th>
  </tr>
</table>

</body>
</html>