<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Search By GE</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    
    <div th:replace="search/byge/fragments/title.html"></div>
    <div th:replace="search/byge/fragments/form.html"></div>

    <div th:replace="fragments/bootstrap_footer.html"></div>
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>

<body>


<p><b>COE: Students only need A,D,E,F,G and H area.</b></p>
<p><b>L&S: Students only need A,B,C,D,E,F and G area.</b></p>
<p><b>COE: Students only need A,B,C,D,E,F and G area.</b></p>

</body>

</html>