<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Search By GE</title>
  <div th:replace="fragments/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="fragments/bootstrap_nav_header.html"></div>
    
    <div th:replace="search/byge/fragments/title.html"></div>
    <div th:replace="search/byge/fragments/form.html"></div>

    <div th:replace="fragments/bootstrap_footer.html"></div>

    <h2>GE Requirement courses number for Each College</h2>

    <table style="width:100%">
  <tr>
  	<td>    Area</td>
  	<td>    COE(count)</td>
    <td>    CCS(count)</td>
    <td>    L&S(count)</td>

  </tr>
  <tr>
  	<td>A1:</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr>
  	<td>A2:</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
  	<td>D:</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr>
  	<td>E:</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr>
  	<td>F:</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
  	<td>G:</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
  	<td>H:</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
  	<td>ETH:</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
  	<td>EUR:</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
  	<td>NWC:</td>
    <td>1</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
  	<td>QNT:</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
  	<td>WRT:</td>
    <td>4</td>
    <td>4</td>
    <td>6</td>
  </tr>

</table>
 
  </div>
  <div th:replace="fragments/bootstrap_scripts.html"></div>
</body>



</html>