<form method="GET" th:object="${searchByCourse}">
    <div class="form-group row">
        <label for="course" class="col-sm-2 col-form-label">Course</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{course}" class="form-control" id="course">
        </div>
    </div>
    <div class="form-group row">
        <label for="beginQ" class="col-sm-2 col-form-label">Begin Quarter</label>
        <div class="col-sm-10">
            <select th:field="*{beginQ}" class="custom-select">
                <option selected="selected" value="20201">WINTER 2020</option>
                <option value="20194">FALL 2019 </option>
                <option value="20193">SUMMER 2019 </option>
                <option value="20192">SPRING 2019 </option>
                <option value="20191">WINTER 2019 </option>
                <option value="20184">FALL 2018 </option>
                <option value="20183">SUMMER 2018 </option>
                <option value="20182">SPRING 2018 </option>
                <option value="20181">WINTER 2018 </option>
                <option value="20174">FALL 2017 </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="endQ" class="col-sm-2 col-form-label">End Quarter</label>
        <div class="col-sm-10">
            <select th:field="*{endQ}" class="custom-select">
                <option selected="selected" value="20201">WINTER 2020</option>
                <option value="20194">FALL 2019 </option>
                <option value="20193">SUMMER 2019 </option>
                <option value="20192">SPRING 2019 </option>
                <option value="20191">WINTER 2019 </option>
                <option value="20184">FALL 2018 </option>
                <option value="20183">SUMMER 2018 </option>
                <option value="20182">SPRING 2018 </option>
                <option value="20181">WINTER 2018 </option>
                <option value="20174">FALL 2017 </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="js-multi-search-submit" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button type="submit" th:formaction="@{/search/bycourse/results}" class="btn btn-primary"
                id="js-multi-search-submit">Submit</button>
        </div>
    </div>

</form>